body{
    margin: 0;
    padding: 0;

    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    text-align: justify;
    color: #333;
}

h1, h2, h3, p, span{
    margin: 0;
    padding: 0;
}

a{
	color: #333;
	text-decoration: none;
}

.bold{
    font-weight: bold;
}

.paddingTop20{
    padding-top: 20px;
}

/*CONTENT*/

#logo{
    justify-content: flex-end;
    align-items: center;
    height: 110px;
}

#logo img{
    width: 250px;
}

#txtPresentacion{
    font-size: 20px;
    padding-left: 100px;
    padding-top: 200px;
}

#txtPresentacion h1{
    font-size: 45px;
}

#imgsRedesSociales{
    width:130px;
    padding-top: 40px;
    padding-left: 30%;
}

.resaltado {
    background: url('highlight.png') no-repeat left;
    background-size: 100%;
    padding: 25 0.5rem;
    width: 210px;
    margin-top: 20px;
}

#correo{
    padding-left: 25%;
}

#misProyectos{
    font-size: 35px;
    justify-content: center;
    margin-top: 100px;
}

#imgs_portfolio{
    margin-top: 50px;
    background-color: white;
}

#imgs_portfolio section{
    margin-bottom: 50px;
}

#imgs_portfolio .column img{
    border: 3px solid #666;
    border-radius: 5px;
}

#imgs_portfolio .column .row{
    justify-content: flex-start;
    align-items: center;
}

#imgs_portfolio .column .row span{
    padding: 5px 10px 5px 70px;
}

/*PIE*/

#pie{
    padding-top: 70px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: #fedeff;
}

#pie .logoFreepik {
    float: left;
    padding-left: 30px;
    width: 70px;
}

#pie .imagesDesignedBy {
    width: 150px;
    float: left;
    margin: 0 auto;
}

/*IMG*/

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*FLEX*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rows{
    display: flex;
    flex-direction: column;
}

.rowRedesSociales{
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
}

.column{
    align-items: center;
    flex: 1;
}

.flex50{
    flex: 0 1 50%;
}

/*UP BUTON*/

.ir-arriba {
	display:none;
	padding:20px;
	background:#888;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    border-radius: 10px;
}


.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  /*ANCHOR*/

/* unvisited link */
a:link {
	color: 666;
	font-weight: 700;
  }
  
  /* visited link */
  a:visited {
	color: 666;
	font-weight: 700;
  }
  
  /* mouse over link */
  a:hover {
	color: 666;
	font-weight: 700;
  }
  
  /* selected link */
  a:active {
	color: 666;
	font-weight: 700;
  }


  @media screen and (max-width: 800px){

    .row{
        flex-direction: column;
    }

    .columns{
        flex-direction: column;
        align-items: center;
    }

    #slide_presentacion{
        padding: 0;
        width: auto;
        max-width: 100%;
    }

    #imgs_portfolio .column .row span{
        padding-left: 10px;
    }

    #pie{
        padding-top: 90px;
        padding-left: 30px;
        padding-bottom: 100px;
        padding-right: 30px;
    }

    #pie span{
        padding: 0;
    }

    #txtPresentacion{
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    #txtPresentacion h1{
        font-size: 35px;
        line-height: 35px;

    }

}
